language: python

jobs:
  include:
    # perform a linux build
    - services: docker
    # and a mac build
    - os: osx
      language: shell
    # and a windows build
    - os: windows
      language: shell
      before_install:
	- choco install python --version 3.7.5
	- export PATH="/c/Python37:/c/Python37/Scripts:$PATH"

env:
  global:
    - CIBW_BUILD: cp37-*

install:
  - python -m pip install twine cibuildwheel==1.1.0
  - wget -O parasail-master.zip https://github.com/jeffdaily/parasail/archive/master.zip

script:
  - cibuildwheel --output-dir wheelhouse

after_success:
  - if [[ $TRAVIS_TAG ]]; then python -m twine upload wheelhouse/*.whl; fi
